{% extends 'posts.html' %}

{% block title %}Danh sách{% endblock %}
{% block content-post %}
    <div class="col-lg-8 col-md-12">
        <form class="my-1 mb-5" action="search" method="get">
            <div class="form-row d-flex align-items-end justify-content-end">
                <div class="col-sm-3 me-2">
                    <label for="categorySelect">Danh mục</label>
                    <select id="categorySelect" name="category" class="form-control">
                        <option value="">Tất cả</option>
                        {% for element in categories %}
                            <option value="{{ element.id }}"
                                    {% if query == element.id %}
                                    selected="selected"
                                    {% endif %}>{{ element.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 me-2">
                    <label for="nameInput">Tiêu đề</label>
                    <input id="nameInput" class="form-control" name="title" type="text" alt="tiêu đề">
                </div>
                <div class="col-sm-3 me-2">
                    <label for="timeInput">Thời gian</label>
                    <input id="timeInput" class="form-control" name="date" type="date" alt="time">
                </div>
                <div class="col-auto ">
                    <button type="submit" class="btn btn-outline-info">
                       Tìm kiếm</button>
                    <button type="reset" class="btn btn-outline-danger">
                       Reset</button>
                </div>
            </div>
        </form>
        {% for element in posts.object_list %}
            <div class="card-group">
                <div class="card mb-5 rounded-lg position-relative">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/media/{{ element.photo }}" class="img-fluid rounded-start" width="100%"
                                 alt="photo">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>{{ element.title }}</h3>
                                <p> {{ element.meta_description }}</p>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-transparent ">
                            <a type="button" class="btn btn-outline-info  rounded-pill stretched-link"
                               href="chi-tiet/{{ element.id }}">continue
                                reading</a>
                            <div>
                                {% load bootstrap_icons %}
                                {% bs_icon 'suit-heart-fill' %}
                                12
                                {% bs_icon 'hand-thumbs-up-fill' %}
                                12
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Pagination">
            <hr class="my-0">
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" tabindex="-1"
                                                  {% if posts.has_previous %}href="?page={{ posts.previous_page_number }}"
                                                  {% else %}  aria-disabled="true"
                                                  {% endif %}> Newer</a>
                </li>
                {% for element in posts %}
                    {% if forloop.counter == posts.number %}
                        <li class="page-item active " aria-current="page"><a
                                class="page-link" href="?page={{ posts.number }}">{{ posts.number }}</a></li>
                    {% endif %}
                {% endfor %}

                <li class="page-item">
                    <a class="page-link" {% if posts.has_next %} href="?page={{ posts.next_page_number }}"
                    {% else %} aria-disabled="true"
                    {% endif %}
                    >Older</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}